{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'CSharpProgrammer/css/style.css' %}" rel="stylesheet">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign=top>
            {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo"><a href="{% url 'mainPage' %}">
                            <div class="logo"></div>
                        </a></li>
                    </ul>
                </div>
            {% endblock mainmenu %}


            <table class="table-content" border=0 cellpadding="0" cellspacing="0">
                <tr>
                    <!-- Sidebar слева -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            <li><a href="{% url 'mainPage' %}">Главная страница</a></li>
                            <li><a href="{% url 'relevance' %}">Востребованность</a></li>
                            <li><a href="{% url 'geography' %}">География</a></li>
                            <li><a href="{% url 'skills' %}">Навыки</a></li>
                            <li><a href="{% url 'recentVacancies' %}">Последние вакансии</a></li>
                        </ul>
                    </td>
                    <!-- Конец Sidebar'а -->
                    <td valign="top" class="content">
                        <!-- Блок контента -->
                        <div class="content-text">
                            {% block content %}
                            {% endblock %}
                        </div>
                        <!-- Конец блока контента -->

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign=top>
            <div id="footer">
                <p></p>
            </div>
        </td>
    </tr>
</table>
<!-- Конец footer'а и страницы -->
</body>
</html>