{% extends 'CSharpProgrammer/base.html' %}
{% load static %}
{% block content %}
    <h1>Статистика по городам</h1>
    <div class="images">
        <img src="{% static 'CSharpProgrammer/images/city_top_salary.png' %}" alt="">
        <img src="{% static 'CSharpProgrammer/images/city_top_count.png' %}" alt="">
    </div>
    <table class="table-data table-city-salary">
        <tr>
            <th>Регион</th>
            <th>Средняя зарплата</th>
        </tr>
        {% for record in top_salary %}
            <tr>
                <td>{{ record.city }}</td>
                <td>{{ record.salary }}</td>
            </tr>
        {% endfor %}
    </table>
    <table class="table-data table-city-count">
        <tr>
            <th>Регион</th>
            <th>Доля вакансий</th>
        </tr>
        {% for record in top_count %}
            <tr>
                <td>{{ record.city }}</td>
                <td>{{ record.get_percent }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}