{% extends 'CSharpProgrammer/base.html' %}
{% load static %}
{% block content %}
    <h1>C# программист</h1>
    <img src="{% static 'CSharpProgrammer/images/Cprogrammer6.jpg' %}">
    <div class="main-content">
        <p>Язык С# был разработан в конце 90ых в начале 2000 - х годов. Это объектно-ориентированный типизированный
            язык,
            его относят к группе С-подобных языков. С# разработчики востребованы на рынке it специалистов.
            Программист C# (С# Developer) специализируется на разработке веб-приложений, десктопных кроссплатформенных
            приложений, игр, облачных сервисов, приложений для устройств, работающих на ОС Windows, других программных
            продуктов.
            Программист C# может создавать сайты, игры на движке Unity, писать программы и разрабатывать приложения,
            работать с нейросетями. Примеры позиций, на которых может работать С# Developer:</p>
        <ul>
            <li>Разработчик игр (Gamedev).</li>
            <li>Веб-разработчик (Web programmer, web developer, web engineer).</li>
            <li>Frontend-разработчик (Front-end Developer).</li>
            <li>Бэкенд-разработчик (Back-end developer).</li>
            <li>Специалист по машинному обучению (Machine Learning Specialist (ML Specialist)).</li>
            <li>Мобильный разработчик (Mobile Developer, Mobile app Developer, App Developer).</li>
        </ul>


        <p>Программист C# должен уметь не только работать с кодом и вспомогательными инструментами, но и координировать
            работу
            других сотрудников команды, планировать рабочее время, составлять техзадания.</p>

        <p>В обязанности программиста на C# входит:</p>
        <ul>
            <li>поиск технологических решений;</li>
            <li>написание своего кода и анализ/доработка чужого;</li>
            <li>тестирование ПО;</li>
            <li>отладка созданного продукта в случае, если на этапе тестирования были выявлены ошибки;</li>
            <li>исправление ошибок, допущенных другими программистами;</li>
            <li>внедрение и интеграция ПО;</li>
            <li>последующее сопровождение ПО (техническая поддержка, документация, инструкции, обучение сотрудников
                и другие
                работы);
            </li>
            <li>разработка интеграционных решений с применением разных API.</li>
            <li>документирование кода.</li>
        </ul>

        <p>Разработчикам на C# есть из чего выбирать, подыскивая место работы. В их знаниях и умениях нуждаются компании
            разных масштабов: небольшие проекты, создающие игры на Unity; ИТ-агентства, разрабатывающие сервисы на
            Windows,
            Linux и
            macOS, бэкенд-приложения, REST API и приложения MVC; веб-студии, создающие сайты (после выхода фреймворка
            Blazor
            на С# можно написать не только бэкенд, но и фронтенд, причем без JavaScript. Используя HTML, CSS и C#, можно
            разработать полноценный фуллстек-проект и десктопное
            приложение).</p>

        <p>Язык C# используют «Яндекс», Tinkoff, «Газпром», «Сбер», ВТБ, «Альфа-Банк», «Лукойл», VK, «Ситимобил»,
            Delivery
            Club, Umbrella IT и другие крупные корпорации. В России каждая вторая компания нуждается в автоматизации
            рабочих
            процессов, поддержке уже имеющихся программных продуктов – все это могут делать программисты на Си шарп.</p>

        <p>Трудоустроиться на доходную должность программисту C# сложно только без опыта работы. Новичкам придется
            минимум
            6–12 месяцев работать Junior C# developer, но если у программиста есть необходимые качества и талант,
            то он быстро
            перейдет на следующую ступень карьерного роста.</p>

        <p>Можно трудиться удаленно, занимаясь написанием несложных кодов для частных лиц, работать
            помощником программиста в IT-компании, пробовать создавать собственные небольшие программы.</p>

        <p>Зарплата С# программиста.
            Размер зарплаты увеличивается по мере накопления опыта ( в среднем по России C# программист зарабатывает
            50000—300000₽). Оклад может зависеть и от проекта, в котором программист C# задействован: создание нового
            продукта – это более высокооплачиваемая работа, чем техническая поддержка уже имеющихся приложений.</p>
    </div>
{% endblock content %}