{% extends 'CSharpProgrammer/base.html' %}

{% block content %}
    <h1>Наиболее востребованные навыки</h1>
    {% for year, skills in data %}
        <p>Топ-10 навыков за {{ year }} год</p>
        <table class="table-data">
            <tr>
                <th>Навык</th>
                <th>Встречается столько раз</th>
            </tr>
            {% for skill, count in skills %}
                <tr>
                    <td>{{ skill }}</td>
                    <td>{{ count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock content %}