{% extends 'CSharpProgrammer/base.html' %}

{% block content %}
    <h1>{{ tittle }}</h1>
    <h2>Наиболее востребованные навыки</h2>
    {% for year, skills in data.items() %}
        <p>Топ-10 навыков за {{ year }} год</p>
        <table class="table-data">
            <tr>
                <th>Навык</th>
                <th>Встречается столько раз</th>
            </tr>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill[0] }}</td>
                    <td>{{ skill[1] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock content %}